*{
	margin: 0px;
	padding: 0px;
}

.clearfix{
	float: none;
	clear: both;
}

#global{
	width: 65%;
	margin: 0px auto;
	margin-top: 30px;
	padding: 25px;
	background: white;
	box-shadow: 0px 0px 2px gray;
}

#logo{
	font-family: helvetica;
	font-size: 28px;
	letter-spacing: 4px;
	line-height: 50px;
	color: white;
	text-align: center;
	width: 100%;
	height: 80px;
	margin-bottom: 20px;
	float: left;
	text-transform: uppercase;
}
#menu{
	font-family: Helvetica;
	background: #333;
	width: 100%;
	text-transform: uppercase;
	margin-bottom: 20px;
}

    #menu ul{
        line-height: 46px;
        list-style: none;
		font-size: 6;
    }

    #menu ul li{
        height: 46px;
        display: inline-block;
        transition: all 300ms;
    }
 
	#menu ul  .activa{
		background: red;
	}

	#menu ul li a:hover,a:focus,a:active{
		border-bottom:2px solid red;
	}
	#menu ul li a.current{					/* current representa el elemento, o un antepasado del elemento, que se muestra actualmente	*/
		border-bottom:2px solid red;
	}

    #menu a{
		color: lime;  
		display: block;
		color:white;
		text-decoration: none;
		padding-left: 20px;
		padding-right: 20px;
	}


#posts{
	width: 60%;
	float: left;
	font-family: Helvetica;
}

.post{
	padding: 7px;
}

h2{
	font-family: Helvetica;
	font-size: 30px;
	color:#333;
}

    .post .date{
        display: block;
        color: gray;
        margin-top:5px;
    }

    .post p{
        margin-top: 10px;
        margin-bottom: 20px;
        line-height: 22px;
        text-align: justify;
    }

    .button-more{
        font-size: 14px;
        text-align: center;
        display: block;
        padding: 15px;
        color: white;
        text-decoration: none;
        margin-top: 10px;
        width: 70px;		
        margin-bottom: 20px;
    }

#sidebar{
	font-family: Helvetica;
	width: 31%;
	float: right;
}

#sidebar h4{
	margin-top: 50px;
	margin-bottom:20px;
	text-align: center;
	line-height: 10px;
	color:#333;

}

#sidebar h4 span{
	background: white;
	padding: 5px;
}

#sidebar img{
	width: 100%;
}

#sidebar p{
	font-size: 15px;
	text-align: justify;
}

footer {
	font-family: helvetica;
	color:white;
	height: 47px;
	background: rgba(51, 51, 51, 0.70);
	margin:0px auto;
	width: 65%;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 50px;
	line-height: 47px;
}

.bx-wrapper, .bx-viewport {
	height: 250px !important;
}

#selector-tema{
	position: fixed;
	top:40%;
	background: rgba(51, 51, 51, 0.5);
	width: 50px;
	height: 70px;
}

#fondo1{
	width: 25px;
	height: 25px;
	border: 1px solid white;
	display: block;
	margin: 0px auto;
	margin-top: 5px;
	margin-bottom: 5px;
	cursor: pointer;
	background: #235E3D;
}
#fondo2{
	width: 25px;
	height: 25px;
	border: 1px solid white;
	display: block;
	margin: 0px auto;
	margin-top: 5px;
	margin-bottom: 5px;
	cursor: pointer;
}

#fondo2{
	background: #CA3413;
}

.subir{
	color: white;
	text-decoration: none;
	display: block;
	float:right;
}

#box{
	float: left;
	margin-top:40px;
	margin-right:40px;
	margin-bottom: 50px;
	font-family: helvetica;
}
	#box p{
		margin-right:40px;
		margin-top: 20px;
		margin-bottom: 20px;
		
	}
	#box p::first-letter{
		font-size: 150%;
		float: left;
		margin: 5px;
	/*	background-color: black;
		color: white*/
		color:#8A2BE2 ;	
}
	.eq{
		background-color: black; 
		color: white;
	}

#box2{
	width: 50%;
	float: left;
	margin-top:40px;
	margin-left:40px;
}
	#box2 p{
		margin-top: 10px;
		margin-bottom: 10px;
	
	}
