
body{
	background-image: url("../fotos/mont.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover ;
}
/*
#content{

}
*/
#logo{
	background:rgb(113, 202, 230);
     background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover ;
}

#menu ul li:hover{
	background: #235E3D;
}

.button-more{
	background: #235E3D;
}